@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Neillgates;
    src: url('/fonts/Neillgates1.ttf') format('truetype');
  }
  @font-face {
    font-family: Shoika;
    font-weight: lighter;
    src: url('/fonts/shoika-light.ttf') format('truetype');
  }
}

@layer components {
  .logo {
    font-family: Neillgates, sistem-ui, serif;
  }

  .media-logo {
    @apply w-7 transition duration-300 hover:scale-125;
  }

  .nav-link {
    font-family: Shoika, sistem-ui, sans-serif;
    @apply hover:underline underline-offset-4;
  }

  .button-primary {
    @apply flex justify-center items-center h-12 w-full rounded-full border-2 border-green-800 font-medium uppercase leading-normal text-green-800 transition duration-150 ease-in-out hover:bg-green-800 hover:text-white focus:bg-green-800 focus:text-white focus:outline-none focus:ring-0 active:bg-green-800 active:text-white;
  }
}
