@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Neillgates;
    src: url('/fonts/Neillgates1.ttf') format('truetype');
  }
  @font-face {
    font-family: Shoika;
    font-weight: lighter;
    src: url('/fonts/shoika-light.ttf') format('truetype');
  }

  .content {
    flex: 1 0 auto;
  }
}

@layer components {
  .logo {
    font-family: Neillgates, sistem-ui, serif;
  }

  .media-logo {
    @apply transition duration-300 hover:scale-125;
  }

  .nav-link {
    font-family: Shoika, sistem-ui, sans-serif;
    @apply hover:underline underline-offset-4;
  }

  .button-primary {
    @apply flex justify-between items-center w-full rounded-full border-2 border-white font-medium  leading-normal text-white transition duration-150 ease-in-out ;
  }

  .button-primary-icon {
    @apply ml-6;
  }

  .button-primary-text {
    @apply font-shoika flex flex-col justify-center items-center w-10/12;
  }

  .button-primary-text-header {
    @apply leading-5;
  }

  .button-primary-text-subheader {
    /* @apply text-xs text-gray-300; */
    @apply text-xs;
  }

  .button-yt {
    @apply flex justify-center items-center w-full rounded-full border-2 border-ytRed bg-ytRed font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-white hover:text-customBlue focus:bg-white focus:text-customBlue focus:outline-none focus:ring-0 active:bg-white active:text-customBlue;
  }
}
